$primary-color: #77dd77;

:root {
  --bs-primary: #{$primary-color};
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: black;
}

.btn-primary:hover, .btn-primary:active {
  background-color: darken($primary-color, 15%);
  border-color: darken($primary-color, 15%);
  color: black;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(119, 221, 119, 0.5);
}

input {
  border-color: var(--bs-primary) !important;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}